.header {
  background-color: #b5ffae;
}

.headerWrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.title {
  display: flex;
  font-size: 3.2rem;
  margin-left: 10px;
}

.title a {
  color: #717171;
  text-decoration: none;
}